.footer nav {
  text-align: center;
  h2 {
    font-size: 1em;
    float: none;
    letter-spacing: normal;
  }
  ul.menu {
    font-size: 1em;
    float: none;
    li {
      font-size: 1em;
      float: none;
      display: inline-block;
    }
  }
}